/*main styles*/
body {
    margin: 0px;
    background-color: black;
    overflow-x: hidden;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/*nav styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #020235;
}

.left-side {
    display: flex;
    text-transform: uppercase;
}

.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size:0.9em;
}
.right-side{

}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: #ffffff;
    text-decoration:none;
    transition: color 0.5s;
}

.nav-link-wrapperhover{
    border-bottom: 1px solid darkgrey;
}

.nav-link-wrapper a:hover{
    color: darkgrey;
}

.brand {    
    width: 100%;
    height: 50px;
}

.active {
    border-bottom: 5px solid darkgrey;
}
/*contact styles*/

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;    
}
.contact-wrapper {
    padding: 38px;
    background-color: #020235;
}

.contact-items-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.contact-item-wrapper {

}

/*section styles*/

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

/*svg styles*/
.spacer {
    aspect-ratio: 960/40;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: auto;
}

.layerwave1 {
    background-image: url('../Images/SVG/layerwave.svg');

}

.flip {
    transform: rotate(180deg);
}
